################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SyncData
/.vs/SyncStockData
/.vs
/bin/Debug/net6.0
/obj
/bin/Release/net6.0
